django==3.2.5
django-debug-toolbar==3.2.1
django-phonenumber-field==5.2.0
djangorestframework==3.12.4
dj-database-url==0.5.0
environs[django]==9.3.2
geopy==2.2.0
Markdown==3.3.4
Pillow==9.3.0
phonenumbers==8.12.28
requests==2.26.0
